html, body {
    background-color: #ddd !important;
    margin: 0;
    padding: 0;
    color: #000 !important;
    min-height: 100%;
    text-align: center;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    text-transform: capitalize;
}

.clue-table-header {
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.clue-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    min-height: 100px;

    margin: 10px 0px;

    border: 1px solid black;
    border-radius: 10px;
}

.clue-col {
    padding: 0 20px;
}

.worth {
    font-size: 20px;
}

h1 {
    color: black;
}

.worth-header {
    display: flex;
    flex-direction: column;
}

.guesstimate {
    color: #c40606;
}

.clue {
    font-size: 18px;
    width: 75%;
}

.clue-header {
    display: flex;
    flex-direction: column;
}

.category-date {
    color: #000;
}

.answer {
    /* min-width: 150px; */
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 100%; */

    /* min-width: 200px; */
}

#output {
    display: flex;
    flex-direction: column;

    min-width: 600px;

    background-color: #3388aa;
    border-radius: 10px;
    padding: 0 30px;
}

#categorySelect {
    text-transform: capitalize;
    margin: 10px 0;
}

.label {
    font-size: 20px;
    color: black;
}

#mainForm {
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #aaa;
    
    padding-top: 10px;
    
    position: fixed;
    bottom: 0;
    width: 100%;
}

body::after {
    content: '';
    display: block;
    height: 50px;
}
select {

    /* background-color: #99ddff !important; */
}

button {
    /* background-color: #99ddff !important; */
}